
@charset utf-8;

/* * {
			border: 1px solid red;
		} */
		
		body { 
			font-family: FavoritPro;
			font-size: 30px;
			color: black;
			line-height: 30px;
		}
		@font-face {
			font-family: FavoritPro;
			src: url('https://static1.squarespace.com/static/5c223539365f0275d6a58c63/t/606064c826611066ba4df4da/1616929992902/FavoritPro-Light.otf');	
		}
		article {
			background-color: white;
			margin-bottom: 100px;
		}
		h1 {
			font-size: 30vw;
			line-height: 90px;
			margin-top: 50px;
			margin-bottom: 0px;
		}
		h2 {
			font-size: 200%;
			line-height: 70px;
			margin-top: 40px;
		}
		h3 {
			font-size: 200%;
			line-height: 50px;
			margin-bottom: 90px;
			margin-top: 20px;
		}
		figure {
			margin: 0px;
			margin-bottom: 70px; 
		}
		img {
  			max-width: 100%;
			margin-bottom: 20px;
		}
		h1 a, h1 a:visited, h2 a, h2 a:visited {
			color: #666699;
			text-decoration: none;
		}
		a {
			color: #9494b8;
		}
		a:visited { 
			color: #666699;
		}
		a:hover {
			color: black;
		}
		figcaption {
			font-size: 50%;
			line-height: 10px;
		}
		footer {
			margin-top: 100px;
		}
		
	@media screen and (min-width: 768px) {
		body { 
			font-family: FavoritPro;
			font-size: 30px;
			color: black;
			line-height: 30px;
			width: 1000px;
			margin-left: 5vw;
			margin-right: 5vw;
		}
		@font-face {
			font-family: FavoritPro;
			src: url('https://static1.squarespace.com/static/5c223539365f0275d6a58c63/t/606064c826611066ba4df4da/1616929992902/FavoritPro-Light.otf');	
		}	
		article {
			background-color: white;
			margin-bottom: 100px;
		}
		h1 {
			font-size: 450%;
			line-height: 100px;
			margin-top: 60px;
			margin-bottom: 0px;
		}
		h2 {
			font-size: 250%;
			line-height: 70px;
		}
		p { 
			text-align: justify;
		}
		figure {
			margin: 0px;
			padding: 100px;
		}
		a {
			color: #9494b8;
		}
		a:visited { 
			color: #666699;
		}
		a:hover {
			color: black;
		}
		figcaption {
			font-size: 50%;
			margin-bottom: 30px;
		}
		footer {
			margin-top: 300px;
		}
	}
